<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Rhohub API Test</title>
	<link rel="stylesheet" href='/stylesheets/bootstrap.min.css' type="text/css"/>
	<link rel="stylesheet" href='/stylesheets/bootstrap-responsive.min.css' type="text/css"/>
	<script type="text/javascript" src="/js/jquery-1.7.1.min.js"></script>
	<script type="text/javascript" src="/js/application.js"></script>
</head>
<body>	
	<div class="container">
		<div class="content">
			<div class="row">
			<div class='span8 offset4' style='margin-top:30px'>
				<h1>Rhohub API Test Dashboard</h1>
			</div>
			</div>
			<ul class="nav nav-tabs">
			  <li class="<%= @tab == 1 ? 'active' : ''%>">
			    <a href="/index">Env Variables</a>
			  </li>
			  <li class="<%= @tab == 2 ? 'active' : ''%>"><a href="/apps">Apps</a></li>
			  <li  class="<%= @tab == 3 ? 'active' : ''%>"><a href="/builds">Builds</a></li>
			</ul>
			<%= yield %>
		</div>
		<footer>
			<p>© 2012 <a href="http://www.rhomobile.com/">Rhomobile</a> All rights reserved.</p>
		</footer>
	</div>
</body>
</html>